<h2 class="mb-4 pb-3 border-bottom">{{ recipe.name }}</h2>
<div class="row mb-4">
    <div class="col-md-4 text-center">
        <div class="row">
            {% if recipe.duration %}
                <div class="col-md-4">
                    <div class="info-box p-2 bg-light rounded">
                        {{ ux_icon('clock', { height: '24px', width: '24px', class: 'text-primary' }) }}
                        <p class="mb-0 mt-2 small">
                            <strong>{{ recipe.duration }}</strong><br>
                            <span class="text-muted">minutes</span>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if recipe.level %}
                <div class="col-md-4">
                    <div class="info-box p-2 bg-light rounded">
                        {{ ux_icon('difficulty', { height: '24px', width: '24px', class: 'text-warning' }) }}
                        <p class="mb-0 mt-2 small">
                            <strong>{{ recipe.level }}</strong><br>
                            <span class="text-muted">difficulty</span>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if recipe.diet %}
                <div class="col-md-4">
                    <div class="info-box p-2 bg-light rounded">
                        {{ ux_icon('vegetarian', { height: '24px', width: '24px', class: 'text-success' }) }}
                        <p class="mb-0 mt-2 small">
                            <strong>{{ recipe.diet }}</strong><br>
                            <span class="text-muted">diet</span>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Ingredients Section -->
        <div class="mb-4 text-start mt-4">
            <h5 class="mb-3">
                {{ ux_icon('ingredients', { class: 'me-2' }) }}
                Ingredients
            </h5>
            <div class="d-flex flex-wrap gap-2">
                {% for ingredient in recipe.ingredients %}
                    <span class="badge text-start bg-success bg-opacity-50 text-white py-2 px-3">
                        <strong>{{ ingredient.name }}</strong><br />
                        <small>{{ ingredient.quantity }}</small>
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-8 text-start">
        <h5 class="mb-3">
            {{ ux_icon('steps', { class: 'me-2' }) }}
            Instructions
        </h5>
        <div class="">
            {% for step in recipe.steps %}
                <div class="d-flex mb-2 bg-light-subtle p-2 rounded">
                    <div class="bg-dark text-white rounded-circle d-flex align-items-center justify-content-center me-3" style="min-width: 32px; width: 32px; height: 32px;">
                        <small class="fw-bold">{{ loop.index }}</small>
                    </div>
                    {{ step }}
                </div>
            {% endfor %}
        </div>
        <div class="mt-4 border-top pt-3 d-flex align-items-center justify-content-between">
            <div class="fw-semibold text-muted">Share this recipe</div>
            <button class="btn btn-outline-secondary" {{ live_action('openShare') }}>
                {{ ux_icon('email', { class: 'me-1' }) }}
                Share
            </button>
        </div>
    </div>
</div>
